:root {
    --primary: #ff8201;
    --secondary: #a1a2a6;
    --text-color: #fff;
    --text-tertiary: #5d5d5d;
    --text-secondary: #000;
}

* {
    font-family: "Montserrat"; /*Definindo o padrão de fonte para todos os texto */
    margin: 0; /* tirando todas as margens de todos os elementos*/
    padding: 0; /* tirando todos os espaçamentos de todos elementos*/
    box-sizing: border-box; /* para os elementos não passarem da area util de uma div */
}
/* Event form*/
#event-descripition {
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../img/Banner01.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh; /*85% da altura da tela*/
    display: flex;
    justify-content: space-around; /*cria um espaço igualmente entre o elemento e as bordas e entre os proprios elementos*/
    align-items: center;
    color: var(--text-color); /* chamando a variavel 'text-color'*/
}

#disclaimer h2,
#disclaimer .event-date {
    color: var(--primary); /* chamando a variavel 'primary'*/
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em; /*para afastar o titulo dos elementos abaixo*/
}

#disclaimer .about-event {
    font-size: 1.6em;
    text-transform: uppercase; /* todo o texto em caixa alta*/
    max-width: 350px;
    font-weight: bold; /* deixa todo o texto em negrito*/
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#disclaimer .event-date {
    font-weight: bold;
}
