:root {
    --primary: #ff5101;
    --secondary: #ffb701;
    --amarelo-suave: #f2e9ce;
    --text-color: #fff;
    --text-tertiary: #5d5d5d;
    --text-secondary: #000;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ; /*Definindo o padrão de fonte para todos os texto */
    margin: 0; /* tirando todas as margens de todos os elementos*/
    padding: 0; /* tirando todos os espaçamentos de todos elementos*/
    box-sizing: border-box; /* para os elementos não passarem da area util de uma div */
  
}
/* Event form*/
#event-descripition {
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../img/Banner01.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh; /*85% da altura da tela*/
    display: flex;
    justify-content: space-around; /*cria um espaço igualmente entre o elemento e as bordas e entre os proprios elementos*/
    align-items: center;
    color: var(--text-color); /* chamando a variavel 'text-color'*/
}

#disclaimer h2,
#disclaimer .event-date {
    color: var(--secondary); /* chamando a variavel 'primary'*/
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 0.5em; /*para afastar o titulo dos elementos abaixo*/
    font-weight: 800;
}

#disclaimer .about-event {
    font-size: 1.6em;
    text-transform: uppercase; /* todo o texto em caixa alta*/
    max-width: 350px;
    font-weight: 700; /* deixa todo o texto em negrito*/
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#disclaimer .event-date {
    font-weight: bold;
}

/* Sessão de benefícios*/
#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: .3em;
    font-size: 2.5em;
    color: var(--text-color);
    font-weight: bold; /* reduzindo a intensidade do negrito*/
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 3em 8em 3em 8em;
    margin: 0 auto;
    background-color: var(--amarelo-suave);
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
    font-weight: bold;
}

.benefit .benefit-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    border: 5px solid var(--primary);
}

.Titulos {
 font-size: 2.5em;
 color: var(--text-tertiary);
 font-weight: bold;
 margin-bottom: .8em;
 
}

.benefit-1 {
    background-image: url(../img/TapDoce01.jpeg);
    
}

.benefit-2 {
    background-image: url(../img/TapSalgada01.jpeg);
}

.benefit-3 {
    background-image: url(../img/Caldo01.webp);
}

.benefit-4 {
    background-image: url(../img/Bebidas.avif);
}

.benefit-1:hover {
    transition-duration: 1s;
    transform: scale(1.05) ;
}

.benefit-2:hover {
    transition-duration: 1s;
    transform: scale(1.05) ;
}

.benefit-3:hover {
    transition-duration: 1s;
    transform: scale(1.05) ;
}

.benefit-4:hover {
    transition-duration: 1s;
    transform: scale(1.05) ;
}

.btn {
 font-size: 12px;
 color: var(--text-color);
 background-color: var(--primary);
}

.container {
    margin: o auto;
    max-width: max-content;
}

.card {
    border-bottom: solid #ff5101;
    border-top: 0;
    border-left: 0 ;
    border-right: 0;
   
}

.card:hover  {
    transform: scale(1.05);
    transition-duration: 1s;
    

 
